<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/courses.css" rel="stylesheet">
</head>
<body>
    <div id="Beginner" class="container1">
       
    <h2>Beginner level courses</h2>
    <button type="button" onclick=gt()>General Technology</button><br>
    <button onclick=ds()>Data Science</button><br>
    <button onclick=wd()>Web Dev</button>
    </div>

    <div class="container2">
        <h2>Intermediate level courses</h2>
        <button onclick=gtInt()>General Technology</button><br>
        <button onclick=dsInt()>Data Science</button><br>
        <button onclick=wdInt()>Web Dev</button>
    </div> 

    <div class="container3">
        <h2>Advanced level courses</h2>
        <button onclick=gtAdv()>General Technology</button><br>
        <button onclick=dsAdv()>Data Science</button><br>
        <button onclick=wdAdv()>Web Dev</button>
    </div>

</body>
<script src="/static/course.js"></script>
</html>