<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/courses.css" rel="stylesheet">
</head>
<body>
    <div class="container">
       
    <h2>Beginner level courses</h2>
    <button onclick=python()>Python</button><br>
    <button onclick=c()>C programming</button><br>
    <button onclick=java()>Java</button>
    </div>

    <div class="container">
        <h2>Intermediate level courses</h2>
        <button onclick=python()>Python</button><br>
        <button onclick=c()>C programming</button><br>
        <button onclick=java()>Java</button>
    </div> 

    <div class="container">
        <h2>Advanced level courses</h2>
        <button onclick=python()>Python</button><br>
        <button onclick=c()>C programming</button><br>
        <button onclick=java()>Java</button>
    </div>


</body>
<script src="/static/options.js"></script>
</html>