<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Options</title>
    <link rel="stylesheet" href="/static/options.css">
</head>
<body>
    <!-- Change button type to "button" -->
     <h1>Welcome</h1>
    <button type="button" onclick="courses()">Courses</button>
    <button type="button" onclick="translate_js()">Translator</button>
    <button type="button" onclick="scholarship()">Scholarship</button>

</body>
<script src="/static/options.js"></script>
</html>
